/* Base styling */
body, html {
    height: 100%;
    margin: 0;
    background: linear-gradient(to bottom, #382230 35%, #201c2a 65%);
    color: #f5f5f5;
}

.App {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}
  
.AppName {
    display: flex;
    align-items: center; /* Centraliza verticalmente */
    justify-content: center; /* Centraliza horizontalmente */
    font-size: 4rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.AppName img {
    width: 60px;
    height: auto;
    margin-right: 1rem;
}

.input-field {
    position: relative;
    margin-top: 2rem;
}

.input-field input {
    width: 88%;
    border: 1px solid #a7a7a7 ;
    border-radius: 25px;
    padding: 0.75rem 1rem;
    background-color: transparent;
    color: #F1F3F8 ;
    position: relative;
    z-index: 1;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    transition: 0.3s;
    pointer-events: none;
    z-index: 2;
    color: #F1F3F8 ;
}

.input-field label::before {
    content: "";
    position: absolute;
    top: 0;
    left: -10px; 
    right: -10px;
    bottom: 0;
    background-color: #382230;
    z-index: -1;
    transition: 0.3s all;
    border-radius: 15px;
    opacity: 0;
}

.input-field input:valid + label,
.input-field input:focus + label {
    top: 0;
    left: 1.5rem;
    font-size: 0.8rem;
    color: #EA5455;
}

.input-field input:valid + label::before,
.input-field input:focus + label::before {
    opacity: 1;
}


.forgot_password,
#not_have_account {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 15px;
}
  
a {
    text-decoration: none;
    color: #EA5455;
    transition: color 0.3s;
}
  
a:hover {
    color: #9C2A2A;
}

.forgot_password{
    margin-top: 2rem;
}

.forgot_password > a {
    color: #F1F3F8 ;
}
  
button {
    padding: 1rem 1rem;
    border: none;
    border-radius: 35px;
    background-color: #EA5455 ;
    color: #F1F3F8;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    margin-bottom: 3rem;
    font-size: 15px;
}
  
button:hover {
    background-color: #9C2A2A;
}

.options {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 2rem;
}

.options > li {
    flex-grow: 1;
    height: 1px;
    background-color: #a7a7a7;
    margin: 0 1rem;
    list-style-type: none;
}
  
#other_options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
}

.social-button {
    border: none;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
    border: 1px solid #a7a7a7 ;
    background-color: transparent;
}
  
.social-button img {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

@media (min-width: 768px) {
    .App {
        max-width: 600px; 
    }

    .input-field input {
        width: 95%;
    }
    
    button {
        width: 100%;
        margin-top: 2rem; 
        height: 4rem;
        border-radius: 50px;
    }

    #other_options {
        gap: 0rem; 
    }
}

/* Adicionando media query para telas com altura menor que 768px */
@media (max-height: 767px) {
    .AppName {
        margin-top: 1rem;
    }

    #other_options {
        margin-bottom: 0.25rem;  
    }
}
